<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Job Details</h1>
        <button class="button button-clear" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item">
                <h2 style="padding-bottom:1px">Supplying Organization</h2>
                <p>{{currentJob.demand.supply.user.organizationName}}</p>
            </li>
            <li class="item">
               <h2 style="padding-bottom:1px"> Receiving Organization</h2>
                <p>{{currentJob.demand.user.organizationName}}</p>
            </li>
            <li class="item">
                <h2 style="padding-bottom:1px">Job Expiry Date</h2>
                <p>{{currentJob.expiryDate}}</p>
            </li>

        </ul>
        <h4 style="text-align: center">Available Slots</h4>
        <div class="list">
            <div  ng-repeat="slot in availableSlots">
            <div class="item item-divider">
         {{slot.date.value| date:'dd/MM/yyyy'}}
         </div>
            <ion-radio ng-model="am" ng-show="slot.amSlot">9AM-12PM </ion-radio>
        <ion-radio ng-model="pm" ng-show="slot.pmSlot">2PM-5PM</ion-radio>
            </div>
        </div>
        
        <button class="button button-block button-positive" ng-click="">
            Help Now!
        </button>


    </ion-content>
</ion-modal-view>